<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" >
    <classes>
      <class name="com.apex.testng.my_selenium_testng_tests.EcommerceWishList"/>
      <class name="com.apex.testng.my_selenium_testng_tests.NewTest"/>
      <class name="com.apex.testng.my_selenium_testng_tests.EcommerceSignupPage"/>
      <class name="com.apex.testng.my_selenium_testng_tests.EcommerceUserloginPage"/>
      <class name="com.apex.testng.my_selenium_testng_tests.AppTest"/>
      <class name="com.apex.testng.my_selenium_testng_tests.GmailLoginAccount"/>
      <class name="com.apex.testng.my_selenium_testng_tests.EcommerceUserloginPageNew"/>
      <class name="com.apex.testng.my_selenium_testng_tests.EcommerceUserLostpassword"/>
      <class name="com.apex.testng.my_selenium_testng_tests.FacebookSignupAccount"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
